## RQ1:  How prevalent are refactorings in data access classes?

In [9]:
import pandas as pd

In [10]:
#load the core data-set
data=pd.read_csv("data/refactorings.csv",sep="$")

In [3]:
data.head()

,repo,sha,ref_id,ref_type,key,ref_desc,file_name,method_lines,lines,is_dac
0,oltpbench,19d4727d8babaf165eebb20ffdc537253006c074,oltpbench-19d4727d8babaf165eebb20ffdc537253006...,Change Variable Type,b'wRYepah0BkPqrFALJFQ9h4sNbEJfeQfzxaTojPNF_cM=',b'gAAAAABg7M2-hxuiQKHyBRqmoCnulgCfDbyc_U6LDZOG...,['src/com/oltpbenchmark/api/Worker.java'],"[(355, 555)]","[(509, 509)]",False
1,oltpbench,8e251e50ce7d1ae3671160ebc2d83cf433e6d1cf,oltpbench-8e251e50ce7d1ae3671160ebc2d83cf433e6...,Change Return Type,b'wRYepah0BkPqrFALJFQ9h4sNbEJfeQfzxaTojPNF_cM=',b'gAAAAABg7M2-8LGoiRXD4NEOIeygs8uTa7Tez0cyz-P5...,['src/com/oltpbenchmark/DistributionStatistics...,"[(166, 178)]","[(166, 166)]",False
2,oltpbench,8e251e50ce7d1ae3671160ebc2d83cf433e6d1cf,oltpbench-8e251e50ce7d1ae3671160ebc2d83cf433e6...,Change Variable Type,b'wRYepah0BkPqrFALJFQ9h4sNbEJfeQfzxaTojPNF_cM=',b'gAAAAABg7M2-EXml1THsvNwS9Qg4i1sAIswpiVo7tK5h...,['src/com/oltpbenchmark/DistributionStatistics...,"[(166, 178)]","[(167, 167)]",False
3,oltpbench,d97a34c952f90de191d76ab5efaf32860d58b1f7,oltpbench-d97a34c952f90de191d76ab5efaf32860d58...,Encapsulate Attribute,b'wRYepah0BkPqrFALJFQ9h4sNbEJfeQfzxaTojPNF_cM=',b'gAAAAABg7M2-K9VVgaBV-FC3mUMD5lPCt0CXN-y3L_dU...,['src/com/oltpbenchmark/api/Loader.java'],"[(81, 83)]","[(53, 53)]",True
4,oltpbench,d77e70c06216df2e8f9f3948dc6c731e969a68fc,oltpbench-d77e70c06216df2e8f9f3948dc6c731e969a...,Change Return Type,b'wRYepah0BkPqrFALJFQ9h4sNbEJfeQfzxaTojPNF_cM=',b'gAAAAABg7M2-VSqXqnQgoA2r-DQo_BNdHFWL3yxlftLa...,['src/com/oltpbenchmark/DBWorkload.java'],"[(602, 631)]","[(602, 602)]",False

In [6]:
data.columns

Index(['repo', 'sha', 'ref_id', 'ref_type', 'key', 'ref_desc', 'file_name',
       'method_lines', 'lines', 'is_dac'],
      dtype='object')

In [4]:
#get the number of refactorings per project
data.groupby(by='repo').size

repo
Applozic-Android-SDK       2136
MyExpenses                 9949
WordPress-Android         31647
adempiere               2104700
carbon-apimgt             32101
deegree-3                 21459
direct-app                 1492
dotCMS-core               60211
eclipselink               80311
oltpbench                  2396
querydsl                  38065
xipki                     88623
dtype: int64

In [7]:
(18892*100)/len(data.index)

0.7639026481041935

In [7]:
#select subset 

rq1data=data.drop(columns=[ 'key', 'ref_desc','method_lines', 'lines'])
rq1data.head()

,repo,sha,ref_id,ref_type,file_name,is_dac
0,oltpbench,19d4727d8babaf165eebb20ffdc537253006c074,oltpbench-19d4727d8babaf165eebb20ffdc537253006...,Change Variable Type,['src/com/oltpbenchmark/api/Worker.java'],False
1,oltpbench,8e251e50ce7d1ae3671160ebc2d83cf433e6d1cf,oltpbench-8e251e50ce7d1ae3671160ebc2d83cf433e6...,Change Return Type,['src/com/oltpbenchmark/DistributionStatistics...,False
2,oltpbench,8e251e50ce7d1ae3671160ebc2d83cf433e6d1cf,oltpbench-8e251e50ce7d1ae3671160ebc2d83cf433e6...,Change Variable Type,['src/com/oltpbenchmark/DistributionStatistics...,False
3,oltpbench,d97a34c952f90de191d76ab5efaf32860d58b1f7,oltpbench-d97a34c952f90de191d76ab5efaf32860d58...,Encapsulate Attribute,['src/com/oltpbenchmark/api/Loader.java'],True
4,oltpbench,d77e70c06216df2e8f9f3948dc6c731e969a68fc,oltpbench-d77e70c06216df2e8f9f3948dc6c731e969a...,Change Return Type,['src/com/oltpbenchmark/DBWorkload.java'],False

In [10]:
#evaluate the list of file Names
rq1data["file_name"]=rq1data["file_name"].apply(eval)
rq1data["file_name"].tolist()[0]

['src/com/oltpbenchmark/api/Worker.java']

# Task 1: summary of refactoring types on DAC and regular classes

In [75]:
dac=rq1data[rq1data["is_dac"]==True]
regular=rq1data[rq1data["is_dac"]==False]
total_dac=len(dac.index)
total_reg=len(regular.index)
print("Length of dac: {}".format(total_dac))
print("Length of regular: {}".format(total_reg))

Length of dac: 18892
Length of regular: 2454198

In [44]:
dac_ref_counts=dac.groupby(by=["ref_type"]).count().sort_values(by="ref_id", ascending=False)
reg_ref_counts=regular.groupby(by=["ref_type"]).count().sort_values(by="ref_id", ascending=False)

In [45]:
def compute_percentage(count,total):
    return count*100/total

In [46]:

dac_ref_counts['Refactoring Type'] = dac_ref_counts.index
dac_ref_counts=dac_ref_counts[["Refactoring Type","ref_id"]]
dac_ref_counts.columns=['Refactoring Type', 'count']

In [48]:
reg_ref_counts['Refactoring Type'] = reg_ref_counts.index
reg_ref_counts=reg_ref_counts[["Refactoring Type","ref_id"]]
reg_ref_counts.columns=['Refactoring Type', 'count']

In [60]:
#Most prevalent refactoring Types in DAC classes
dac_ref_counts["percentage"]=dac_ref_counts["count"].apply(compute_percentage, args=(total_dac,))
dac_ref_counts_t10=dac_ref_counts.head(10)
dac_ref_counts_t10

,Refactoring Type,count,percentage
ref_type,,,
Rename Variable,Rename Variable,1880,9.951302
Change Variable Type,Change Variable Type,1539,8.146305
Add Parameter,Add Parameter,1119,5.923142
Add Parameter Modifier,Add Parameter Modifier,998,5.282659
Change Parameter Type,Change Parameter Type,910,4.816854
Rename Parameter,Rename Parameter,888,4.700402
Extract Method,Extract Method,887,4.695109
Add Method Annotation,Add Method Annotation,816,4.319289
Rename Method,Rename Method,705,3.731738
Change Method Access Modifier,Change Method Access Modifier,620,3.281812

In [137]:
def format_number(number):
    return round(number,3)

In [139]:
dac_ref_counts_t10["percentage"]=dac_ref_counts_t10["percentage"].apply(format_number)

<ipython-input-139-bacc6a1c38f8>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dac_ref_counts_t10["percentage"]=dac_ref_counts_t10["percentage"].apply(format_number)

In [140]:
#get a latex table from this
dac_t10_latex=dac_ref_counts_t10.to_latex(columns=["Refactoring Type","count","percentage"], index=False)
print(dac_t10_latex)

\begin{tabular}{lrr}
\toprule
              Refactoring Type &  count &  percentage \\
               Rename Variable &   1880 &       9.951 \\
\midrule
          Change Variable Type &   1539 &       8.146 \\
                 Add Parameter &   1119 &       5.923 \\
        Add Parameter Modifier &    998 &       5.283 \\
         Change Parameter Type &    910 &       4.817 \\
              Rename Parameter &    888 &       4.700 \\
                Extract Method &    887 &       4.695 \\
         Add Method Annotation &    816 &       4.319 \\
                 Rename Method &    705 &       3.732 \\
 Change Method Access Modifier &    620 &       3.282 \\
\bottomrule
\end{tabular}

In [134]:
dac_ref_counts_t10

,Refactoring Type,count,percentage
ref_type,,,
Rename Variable,Rename Variable,1880,9.951302
Change Variable Type,Change Variable Type,1539,8.146305
Add Parameter,Add Parameter,1119,5.923142
Add Parameter Modifier,Add Parameter Modifier,998,5.282659
Change Parameter Type,Change Parameter Type,910,4.816854
Rename Parameter,Rename Parameter,888,4.700402
Extract Method,Extract Method,887,4.695109
Add Method Annotation,Add Method Annotation,816,4.319289
Rename Method,Rename Method,705,3.731738
Change Method Access Modifier,Change Method Access Modifier,620,3.281812

In [63]:
#Most prevalent refactoring Types in regular classes
reg_ref_counts["percentage"]=reg_ref_counts["count"].apply(compute_percentage, args=(total_reg,))
reg_ref_counts_t10=reg_ref_counts.head(10)
reg_ref_counts_t10

,Refactoring Type,count,percentage
ref_type,,,
Move Attribute,Move Attribute,1470365,59.912240
Change Attribute Access Modifier,Change Attribute Access Modifier,600345,24.461963
Add Method Annotation,Add Method Annotation,26913,1.096611
Rename Method,Rename Method,22963,0.935662
Change Parameter Type,Change Parameter Type,21618,0.880858
Change Variable Type,Change Variable Type,21372,0.870834
Change Return Type,Change Return Type,19459,0.792886
Add Parameter,Add Parameter,18528,0.754951
Rename Variable,Rename Variable,18345,0.747495
Rename Parameter,Rename Parameter,16107,0.656304

In [141]:
reg_ref_counts_t10["percentage"]=reg_ref_counts_t10["percentage"].apply(format_number)

<ipython-input-141-b2bff01a49a9>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reg_ref_counts_t10["percentage"]=reg_ref_counts_t10["percentage"].apply(format_number)

In [142]:
#get a latex table for t10 regular
reg_t10_latex=reg_ref_counts_t10.to_latex(columns=["Refactoring Type","count","percentage"], index=False)
print(reg_t10_latex)

\begin{tabular}{lrr}
\toprule
                 Refactoring Type &    count &  percentage \\
                   Move Attribute &  1470365 &      59.912 \\
\midrule
 Change Attribute Access Modifier &   600345 &      24.462 \\
            Add Method Annotation &    26913 &       1.097 \\
                    Rename Method &    22963 &       0.936 \\
            Change Parameter Type &    21618 &       0.881 \\
             Change Variable Type &    21372 &       0.871 \\
               Change Return Type &    19459 &       0.793 \\
                    Add Parameter &    18528 &       0.755 \\
                  Rename Variable &    18345 &       0.747 \\
                 Rename Parameter &    16107 &       0.656 \\
\bottomrule
\end{tabular}

In [53]:
#identifying the types commnly prevalent in dac and regular classes
dac_set=set(dac_ref_counts.head(10)["Refactoring Type"].tolist())
reg_set=set(reg_ref_counts.head(10)["Refactoring Type"].tolist())

In [55]:
#Commonly prevalent
dac_set & reg_set

{'Add Method Annotation',
 'Add Parameter',
 'Change Parameter Type',
 'Change Variable Type',
 'Rename Method',
 'Rename Parameter',
 'Rename Variable'}

In [56]:
#Prevalent in dac
dac_set - reg_set

{'Add Parameter Modifier', 'Change Method Access Modifier', 'Extract Method'}

In [57]:
#Prevalent in reg
reg_set-dac_set

{'Change Attribute Access Modifier', 'Change Return Type', 'Move Attribute'}

In [58]:
#dac rare refactoring types
dac_ref_counts.tail(10)

                                        Refactoring Type  count  percentage
ref_type
Remove Attribute Annotation  Remove Attribute Annotation      8    0.042346
Remove Variable Annotation    Remove Variable Annotation      7    0.037053
Split Variable                            Split Variable      5    0.026466
Merge Attribute                          Merge Attribute      4    0.021173
Split Parameter                          Split Parameter      3    0.015880
Move And Rename Attribute      Move And Rename Attribute      3    0.015880
Remove Parameter Annotation  Remove Parameter Annotation      2    0.010586
Replace Attribute                      Replace Attribute      2    0.010586
Push Down Attribute                  Push Down Attribute      2    0.010586
Modify Attribute Annotation  Modify Attribute Annotation      1    0.005293

In [59]:
#Least prevalent regular refactoring Types
reg_ref_counts.tail(10)

                                      Refactoring Type  count  percentage
ref_type
Add Variable Annotation        Add Variable Annotation    145    0.005908
Extract Subclass                      Extract Subclass    110    0.004482
Merge Attribute                        Merge Attribute    101    0.004115
Merge Variable                          Merge Variable     97    0.003952
Split Parameter                        Split Parameter     73    0.002974
Move And Rename Attribute    Move And Rename Attribute     45    0.001834
Split Attribute                        Split Attribute     42    0.001711
Remove Variable Annotation  Remove Variable Annotation     42    0.001711
Replace Attribute                    Replace Attribute     20    0.000815
Split Variable                          Split Variable     18    0.000733

In [67]:
def check_length(fileNames):
    return len(fileNames)

In [68]:
dac["no_of_files"]=dac["file_name"].apply(check_length)

<ipython-input-68-c08de4f3290d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dac["no_of_files"]=dac["file_name"].apply(check_length)

In [71]:
regular["no_of_files"]=regular["file_name"].apply(check_length)

<ipython-input-71-0115cf774a16>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  regular["no_of_files"]=regular["file_name"].apply(check_length)

In [76]:
dac.head()

,repo,sha,ref_id,ref_type,file_name,is_dac
3,oltpbench,d97a34c952f90de191d76ab5efaf32860d58b1f7,oltpbench-d97a34c952f90de191d76ab5efaf32860d58...,Encapsulate Attribute,[src/com/oltpbenchmark/api/Loader.java],True
13,oltpbench,d77ff02e21a0b56e74ad35bb8cd53e9a5ea44194,oltpbench-d77ff02e21a0b56e74ad35bb8cd53e9a5ea4...,Extract Subclass,[src/com/oltpbenchmark/api/collectors/NoopColl...,True
16,oltpbench,35114287311ebd257fa4cdf440d754f420163149,oltpbench-35114287311ebd257fa4cdf440d754f42016...,Add Parameter,[src/com/oltpbenchmark/benchmarks/tpch/TPCHLoa...,True
17,oltpbench,35114287311ebd257fa4cdf440d754f420163149,oltpbench-35114287311ebd257fa4cdf440d754f42016...,Add Parameter,[src/com/oltpbenchmark/benchmarks/tpch/TPCHLoa...,True
18,oltpbench,35114287311ebd257fa4cdf440d754f420163149,oltpbench-35114287311ebd257fa4cdf440d754f42016...,Add Parameter,[src/com/oltpbenchmark/benchmarks/tpch/TPCHLoa...,True

In [90]:
#expand the file names
dac_exploded=dac.explode("file_name")
reg_exploded=regular.explode("file_name")

In [98]:
#recheck DAC
paths_df=pd.read_csv("data/DAC_paths.csv")
def check_dac(row):
    repo= row["repo"]
    file_name=row["file_name"]
    dac_paths=paths_df[paths_df["repoName"]==repo]["className"].tolist()
    return file_name in dac_paths

In [151]:
paths_df.head()

   repoName                                          className
0  querydsl  querydsl-sql/src/main/java/com/mysema/query/sq...
1  querydsl  querydsl-sql/src/main/java/com/querydsl/sql/dm...
2  querydsl  querydsl-sql-codegen/src/test/java/com/mysema/...
3  querydsl  querydsl-sql/src/test/java/com/mysema/query/sq...
4  querydsl  querydsl-sql/src/test/java/com/mysema/query/sq...

In [150]:
paths_df[paths_df['className']=='base/src/org/compiere/model/I_I_Order.java']

Empty DataFrame
Columns: [repoName, className]
Index: []

In [101]:
len(dac_exploded.index)

50482

In [99]:
dac_exploded["is_dac"]=dac_exploded.apply(check_dac, axis=1)

In [105]:
dac_exploded_false= dac_exploded[dac_exploded["is_dac"]==False]

In [112]:
#concatinate the non-data access classes
reg_exploded=pd.concat([reg_exploded, dac_exploded_false])
dac_exploded=dac_exploded[dac_exploded["is_dac"]==True]

In [114]:
dac_exploded.head()

,repo,sha,ref_id,ref_type,file_name,is_dac
3,oltpbench,d97a34c952f90de191d76ab5efaf32860d58b1f7,oltpbench-d97a34c952f90de191d76ab5efaf32860d58...,Encapsulate Attribute,src/com/oltpbenchmark/api/Loader.java,True
13,oltpbench,d77ff02e21a0b56e74ad35bb8cd53e9a5ea44194,oltpbench-d77ff02e21a0b56e74ad35bb8cd53e9a5ea4...,Extract Subclass,src/com/oltpbenchmark/api/collectors/DBCollect...,True
16,oltpbench,35114287311ebd257fa4cdf440d754f420163149,oltpbench-35114287311ebd257fa4cdf440d754f42016...,Add Parameter,src/com/oltpbenchmark/benchmarks/tpch/TPCHLoad...,True
17,oltpbench,35114287311ebd257fa4cdf440d754f420163149,oltpbench-35114287311ebd257fa4cdf440d754f42016...,Add Parameter,src/com/oltpbenchmark/benchmarks/tpch/TPCHLoad...,True
18,oltpbench,35114287311ebd257fa4cdf440d754f420163149,oltpbench-35114287311ebd257fa4cdf440d754f42016...,Add Parameter,src/com/oltpbenchmark/benchmarks/tpch/TPCHLoad...,True

In [145]:
#Now group the types of refactorings on file-name and put the count
dac_no_of_refactorings=dac_exploded.groupby(by=["file_name"]).count()["ref_id"].tolist()
reg_no_of_refactorings=reg_exploded.groupby(by=["file_name"]).count()["ref_id"].tolist()

In [146]:
dac_no_of_refactorings

[15,
 3,
 3,
 1,
 20,
 1,
 1,
 1,
 6,
 89,
 10,
 70,
 6,
 4,
 5,
 2,
 6,
 60,
 7,
 22,
 1,
 4,
 29,
 8,
 8,
 10,
 2,
 16,
 1,
 20,
 2,
 10,
 37,
 25,
 15,
 4,
 2,
 4,
 2,
 2,
 8,
 2,
 1,
 5,
 12,
 14,
 7,
 46,
 6,
 4,
 6,
 27,
 14,
 9,
 2,
 10,
 1,
 2,
 9,
 5,
 8,
 13,
 1,
 9,
 1,
 1,
 4,
 2,
 4,
 6,
 2,
 1,
 8,
 37,
 31,
 4,
 3,
 35,
 5,
 5,
 1,
 9,
 1,
 4,
 15,
 1,
 1,
 10,
 1,
 2,
 27,
 53,
 27,
 3,
 1,
 1,
 2,
 3,
 64,
 6,
 3,
 3,
 3,
 3,
 11,
 9,
 1,
 1,
 6,
 2,
 6,
 2,
 4,
 74,
 3,
 1,
 16,
 18,
 3,
 42,
 12,
 2,
 6,
 1,
 1,
 61,
 6,
 51,
 1,
 5,
 4,
 46,
 9,
 1,
 5,
 1,
 4,
 2,
 3,
 1,
 8,
 1,
 16,
 46,
 2,
 2,
 10,
 1,
 4,
 4,
 1,
 34,
 1,
 1,
 52,
 2,
 5,
 5,
 5,
 5,
 5,
 5,
 4,
 12,
 1,
 10,
 6,
 153,
 19,
 2,
 1,
 57,
 183,
 30,
 26,
 2,
 8,
 3,
 2,
 38,
 9,
 3,
 2,
 2,
 1,
 10,
 5,
 42,
 72,
 1,
 2,
 36,
 22,
 7,
 3,
 8,
 2,
 1,
 5,
 2,
 12,
 2,
 18,
 1,
 1,
 2,
 2,
 24,
 1,
 102,
 1,
 24,
 2,
 3,
 1,
 1,
 121,
 23,
 20,
 9,
 9,
 4,
 9,
 13,
 74,
 1,
 2,
 11,
 20,
 2,
 1,
 1,
 26,
 2,
 19,
 5,
 1,
 1,
 3,
 4,
 7,
 55,
 31,
 14,
 32,
 32,
 22,
 56,
 26,
 27,
 9,
 88,
 21,
 25,
 9,
 28,
 26,
 51,
 12,
 5,
 2,
 3,
 14,
 14,
 9,
 2,
 36,
 28,
 71,
 39,
 34,
 18,
 14,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 87,
 54,
 51,
 29,
 53,
 49,
 1,
 9,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 5,
 27,
 1,
 1,
 1,
 34,
 10,
 33,
 84,
 73,
 53,
 25,
 30,
 32,
 43,
 11,
 7,
 11,
 1,
 2,
 3,
 11,
 4,
 1,
 97,
 29,
 7,
 13,
 30,
 45,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 108,
 106,
 20,
 16,
 36,
 4,
 66,
 36,
 62,
 48,
 94,
 18,
 8,
 6,
 9,
 2,
 23,
 77,
 28,
 8,
 6,
 2,
 4,
 2,
 3,
 12,
 15,
 52,
 42,
 27,
 25,
 11,
 10,
 1,
 16,
 27,
 95,
 9,
 72,
 5,
 3,
 15,
 1,
 1,
 6,
 3,
 1,
 5,
 21,
 2,
 1,
 4,
 1,
 11,
 4,
 2,
 35,
 18,
 7,
 23,
 29,
 10,
 22,
 12,
 82,
 79,
 82,
 25,
 4,
 90,
 165,
 1092,
 61,
 58,
 5,
 58,
 116,
 4,
 11,
 82,
 2,
 2,
 2,
 1,
 5,
 4,
 3,
 2,
 2,
 207,
 138,
 182,
 138,
 105,
 99,
 54,
 18,
 198,
 201,
 210,
 219,
 153,
 57,
 84,
 138,
 15,
 141,
 9,
 501,
 232,
 2,
 1,
 15,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 12,
 4,
 9,
 28,
 2,
 2,
 6,
 18,
 3,
 1,
 2,
 11,
 4,
 8,
 9,
 7,
 9,
 9,
 5,
 4,
 5,
 16,
 70,
 45,
 49,
 2,
 17,
 22,
 9,
 7,
 8,
 1,
 1,
 8,
 3,
 6,
 10,
 18,
 4,
 8,
 4,
 1,
 1,
 2,
 8,
 7,
 2,
 2,
 2,
 3,
 2,
 2,
 1,
 1,
 131,
 26,
 8,
 29,
 14,
 43,
 17,
 36,
 19,
 26,
 15,
 2,
 2,
 2,
 6,
 49,
 3,
 35,
 35,
 2,
 2,
 2,
 26,
 16,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 1,
 1,
 1,
 4,
 1,
 5,
 7,
 10,
 5,
 2,
 2,
 2,
 2,
 14,
 14,
 1,
 8,
 22,
 11,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 3,
 12,
 1,
 161,
 1,
 5,
 25,
 1,
 2,
 102,
 47,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 8,
 44,
 61,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 60,
 1,
 1,
 1,
 2,
 1,
 5,
 98,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 4,
 3,
 4,
 19,
 12,
 5,
 3,
 3,
 16,
 2,
 12,
 12,
 1,
 65,
 5,
 70,
 24,
 6,
 1,
 41,
 5,
 17,
 3,
 33,
 16,
 11,
 1,
 44,
 91,
 9,
 1,
 7,
 12,
 26,
 8,
 30,
 91,
 34,
 23,
 10,
 5,
 2,
 6,
 23,
 2,
 40,
 1,
 4,
 20,
 21,
 1,
 31,
 9,
 1,
 4,
 388,
 2,
 24,
 76,
 2,
 4,
 42,
 8,
 6,
 74,
 18,
 4,
 42,
 15,
 26,
 1,
 3,
 7,
 1,
 2,
 2,
 2,
 2,
 11,
 2,
 2,
 2,
 2,
 1,
 1,
 1,
 8,
 34,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 2,
 10,
 7,
 20,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 5,
 3,
 1,
 1,
 1,
 1,
 1,
 5,
 1,
 1,
 11,
 7,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 1,
 5,
 4,
 2,
 16,
 4,
 10,
 3,
 296,
 37,
 39,
 21,
 46,
 28,
 32,
 27,
 5,
 42,
 83,
 65,
 14,
 22,
 26,
 15,
 46,
 52,
 1,
 3,
 2,
 2,
 3,
 14,
 5,
 1,
 3,
 2,
 6,
 2,
 68,
 2,
 2,
 2,
 3,
 5,
 2,
 39,
 3,
 1,
 14,
 3,
 9,
 1,
 14,
 8,
 4,
 3,
 5,
 1,
 34,
 9,
 8,
 20,
 1,
 3,
 11,
 20,
 2,
 25,
 13,
 2,
 8,
 19,
 1,
 1,
 3,
 1,
 5,
 1,
 1,
 2,
 1,
 5,
 1,
 1,
 26,
 14,
 5,
 5,
 1,
 85,
 5,
 2,
 2,
 4,
 3,
 2,
 5,
 5,
 5,
 2,
 2,
 6,
 20,
 11,
 4,
 13,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 3,
 2,
 2,
 1,
 2,
 2,
 2,
 3,
 2,
 5,
 5,
 4,
 5,
 6,
 5,
 47,
 3,
 2,
 1,
 2,
 2,
 3,
 2,
 1,
 2,
 1,
 3,
 2,
 2,
 2,
 4,
 2,
 2,
 1,
 ...]

In [118]:
no_of_refactorings_per_class= []
for val in dac_no_of_refactorings:
    no_of_refactorings_per_class.append({"class Type":"DAC","count":val})
for val in reg_no_of_refactorings:
    no_of_refactorings_per_class.append({"class Type":"Regular","count":val})   
no_of_refactorings_per_class=pd.DataFrame(no_of_refactorings_per_class)

In [121]:
no_of_refactorings_per_class.to_csv("data/RQ1-no-of-refactorings-per-class.csv", index=False)

In [12]:
2454198/81873

29.9756696346781

In [13]:
81873/1318

62.11911987860395

In [ ]:
#Move to R-Notebook for analysis of distribution...